* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #424242;
}

button {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 20px 50px;
  background-color: #01996d;
  border: 1px solid #01996d;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  transition: all 0.2s;
}
.btn:hover {
  opacity: 0.7;
}

.no-scroll {
  overflow: hidden;
}

/*header*/

.header {
  padding: 17px 0;
  border-bottom: 1px solid #d6d6d6;
  line-height: 1;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: 172px;
  font-weight: 500;
  color: #292929;
}

.header__list {
  display: flex;
}

.header__list-item a {
  color: #292929;
  transition: all 0.2s;
}
.header__list-item a:hover {
  opacity: 0.7;
}

.header__list-item + .header__list-item {
  margin-left: 72px;
}

.header__login {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__login-link {
  line-height: 24px;
  color: #000;
  transition: all 0.2s;
}
.header__login-link:hover {
  opacity: 0.7;
}

.header__login-link--green {
  padding: 13px 50px;
  color: #fff;
  line-height: 25px;
  background: #01996d;
  border: 1px solid #01996d;
  border-radius: 4px;
}

.header__login-link + .header__login-link {
  margin-left: 35px;
}

/*home*/

.home {
  padding: 175px 0;
  background-image: url(../img/home/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 895px;
}

.home__inner {
  max-width: 440px;
}

.home__title {
  font-family: "Georgia", serif;
  font-weight: 700;
  font-size: 65px;
  line-height: 74px;
  color: #01996d;
  margin-bottom: 30px;
}

.home__text {
  font-size: 20px;
  line-height: 31px;
  color: #484848;
  margin-bottom: 53px;
  max-width: 430px;
}

/*works*/

.works {
  padding-top: 169px;
  padding-bottom: 51px;
}

.works__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
}

.works__header-head {
  max-width: 584px;
  margin-right: 30px;
}

.works____header-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
}

.works____header-subtitle {
  font-family: "Georgia" serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996d;
}

.works__header-content {
  font-weight: 500;
  line-height: 150%;
  padding-top: 58px;
  max-width: 671px;
}

.works__items {
  display: flex;
  justify-content: space-between;
}

.works__item {
  max-width: 390px;
}
.works__item:nth-child(2) {
  padding-top: 287px;
}
.works__item:nth-child(3) {
  padding-top: 54px;
}

.works__item-title {
  position: relative;
  padding-top: 135px;
  padding-left: 88px;
  margin-bottom: 55px;
  font-family: "Georgia", serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #000;
}
.works__item-title::before {
  content: attr(data-number);
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  color: rgba(1, 153, 109, 0.2);
}

.works__item-text {
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 60px;
}

.works__item-img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*story*/

.story {
  padding: 229px 0 176px;
  background-color: #245852;
  color: #fff;
}

.story__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-wide {
  max-width: 1536px;
}

.story__content {
  margin-right: 30px;
  max-width: 580px;
}

.story__title {
  font-family: "Georgia", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  margin-bottom: 33px;
}

.story__text {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  margin-bottom: 57px;
}

.story__video {
  max-width: 895px;
  overflow: hidden;
  border-radius: 18px;
  position: relative;
}

.story__video-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.story__video-overlay {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease;
}
.story-video-overlay.hidden {
  opacity: 0;
}

/*product*/

.product {
  padding: 127px 0 168px;
}

.product__inner {
  display: flex;
}

.img-wrapper {
  position: relative;
  margin-right: 86px;
  padding-left: 60px;
  padding-bottom: 74px;
}

.product__img {
  border-radius: 18px;
}

.product__card {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.product__card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 296px;
  border-radius: 4px;
  box-shadow: 0px 3.62249px 18.1125px rgb(165 165 165 / 25%);
  padding: 28px 20px 30px;
}

.product__card-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 157%;
  color: #000000;
  padding-bottom: 7px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000000;
}

.product__card-avatar {
  text-align: center;
  margin-bottom: 25px;
}

.product__card-img {
  margin-bottom: 13px;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  object-fit: cover;
}

.product__avatar-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 157%;
  color: #000000;
}

.product__card-content {
  text-align: left;
  padding-left: 6px;
}
.product__card-content h3 {
  font-family: "Georgia", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 157%;
  color: #000000;
  margin-bottom: 22px;
}
.product__card-content ul {
  font-weight: 400;
  font-size: 11px;
  line-height: 157%;
  color: #000000;
  list-style-type: disc;
  list-style-position: inside;
}
.product__card-content li + li {
  margin-top: 20px;
}

.product__contents-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  margin-bottom: 10px;
}

.product__content-subtitle {
  font-family: "Georgia", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996d;
  margin-bottom: 20px;
  max-width: 584px;
}

.product__content-text {
  line-height: 31px;
  color: #484848;
  margin-bottom: 40px;
  max-width: 530px;
}

/*footer*/

.footer {
  background-color: #245852;
  padding: 105px 0 144px;
}

.footer__logo {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  margin-bottom: 74px;
}

.footer__list-item + .footer__list-item {
  margin-top: 60px;
}

.footer__list-link {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  transition: all 0.2s;
}
.footer__list-link:hover {
  opacity: 0.7;
}

/*mobile*/

.mobile-nav {
  display: none;

  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);

  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 15px;

  text-align: center;
}

.mobile-nav.active {
  display: flex;
}

.mobile-nav-list {
  font-size: 22px;
}

.mobile-nav-list li + li {
  margin-top: 20px;
}

.mobile-nav-list li a {
  color: #292929;
  transition: all 0.2s;
}
.mobile-nav-list li a:hover {
  opacity: 0.7;
}

.mobile-login {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.mobile-login > * + * {
  margin-left: 30px;
}
